.page_container {
  margin-top: 20px;
}

.calendar-wrapp {
  padding: 20px;
  background: #fff;

  p {
    margin: 0;
    padding: 0;
  }
}

app-time-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
