.calendar-wrapp p {
  margin: 0;
  padding: 0;
}

.calendar-wrapp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  background: #fff;
}

.calendar_week-btns {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.time-line {
  width: 81%;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  font-size: 10px;
  color: #949494;
}

.time-line_item {
  justify-self: center;
}

.calendar_table {
  width: 100%;
  display: flex;
  color: #0082ca;
  border: 1px solid #949494;
  border-bottom: none;
}

.calendar_interviewers {
  padding: 3px 10px;
  width: 15%;
  font-weight: 600;
  border-bottom: 1px solid #949494;
}

.calendar_weekdays {
  width: 4%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  font-weight: 500;
  border-left: 1px solid #949494;
  border-bottom: 1px solid #949494;
}

.calendar_weekday {
  align-self: center;
  justify-self: center;
}

.calendar_time-grid {
  width: 81%;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
}

.time-grid_item {
  padding: 5px;
  height: 30px;
  border-left: 1px solid #949494;
  border-bottom: 1px solid #949494;
  transition: 0.3s;
}

.time-grid_item--free {
  background: url(/assets/images/calendar/calendar-can.svg) no-repeat center
    center;
  background-size: 80%;
}

.time-grid_item--busy {
  background: url(/assets/images/calendar/calendar-not.svg) no-repeat center
    center;
  background-size: 80%;
}

.time-grid_item--assigned {
  background: url(/assets/images/calendar/calendar-assign.svg) no-repeat center
    center;
  background-size: 80%;
}

// free: '#DCE9D5',
// busy: '#999999',
// assigned: '#76CC48',
