.time-grid_item {
  padding: 5px;
  height: 100%;
  transition: 0.3s;
}

.time-grid_item--busy {
  background: #ff0000;
  background-size: 80%;
}
.time-grid_item--free {
  background: #66ff00;
  background-size: 80%;
}

.time-grid_item--assigned {
  background: #ffff00;
  background-size: 80%;
}
