<nz-modal
  [nzVisible]="isVisible"
  nzTitle="Create new project"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Create"
  nzCancelText="Cancel"
>
  <!-- nzWidth="700px" -->
  <ng-container *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical" nz-row [nzGutter]="16">
      <!-- project name -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Project Name</nz-form-label>
          <nz-form-control nzErrorTip="Please enter project's name">
            <input nz-input formControlName="name" id="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- technologies or primary skills -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="primarySkills"
            >Primary Skills
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please choose any primary skill from the list"
          >
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="primarySkills"
              id="primarySkills"
            >
              <nz-option
                *ngFor="let primarySkill of data?.primarySkills"
                nzValue="{{ primarySkill.value }}"
                nzLabel="{{ primarySkill.label }}"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- managers -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="managers"
            >Choose manager(s)
          </nz-form-label>
          <nz-form-control nzErrorTip="Please choose any manager from the list">
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="managers"
              id="managers"
            >
              <nz-option
                *ngFor="let staff of data?.staff?.managers"
                nzValue="{{ staff.id }}"
                nzLabel="{{ staff.name }}"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- recruiters -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="recruiters"
            >Choose recruiter(s)
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please choose any recruiter from the list"
          >
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="recruiters"
              id="recruiters"
            >
              <nz-option
                *ngFor="let staff of data?.staff?.recruiters"
                nzValue="{{ staff.id }}"
                nzLabel="{{ staff.name }}"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- dates -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="dates"
            >Choose start and end date
          </nz-form-label>
          <nz-form-control>
            <nz-range-picker
              formControlName="dates"
              id="dates"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- candidates' max count -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="plannedCandidatesCount"
            >Max. candidates count
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please enter planned number of candidated"
          >
            <input
              type="number"
              nz-input
              formControlName="plannedCandidatesCount"
              id="plannedCandidatesCount"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- isActive -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="isActive">Active</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive" id="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>
