<nz-drawer
  [nzVisible]="isVisible"
  nzTitle="Create new project"
  (nzOnClose)="handleCancel()"
  [nzWidth]="600"
>
  <!-- nzWidth="700px" -->
  <ng-container *nzDrawerContent>
    <form [formGroup]="form" nz-form nzLayout="vertical" nz-row [nzGutter]="16">
      <!-- project name -->
      <div nz-col [nzSpan]="21">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Project Name</nz-form-label>
          <nz-form-control [nzErrorTip]="nameError">
            <input nz-input formControlName="name" id="name" />
          </nz-form-control>
        </nz-form-item>
        <ng-template #nameError let-control>
          <ng-container *ngIf="control.hasError('required')">
            Project name is required
          </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">
            max. length is 128 characters
          </ng-container>
        </ng-template>
      </div>
      <!-- isActive -->
      <div nz-col [nzSpan]="3">
        <nz-form-item>
          <nz-form-label nzFor="isActive">Active</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive" id="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- technologies or primary skills -->
      <div nz-col [nzSpan]="24" style="margin-bottom: 1.5rem">
        <div
          nz-row
          nzAlign="middle"
          nzJustify="space-between"
          style="margin-bottom: 0.5rem"
        >
          <span>Primary Skills</span>
          <button (click)="onPrimarySkillAdd()" nz-button>
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </div>
        <app-primary-skill-input
          *ngFor="let primarySkill of primarySkills; index as index"
          [primarySkill]="primarySkill"
          [index]="index"
          (onPrimarySkillRemove)="onPrimarySkillRemove(index)"
          (onPrimarySkillChange)="onPrimarySkillChange($event, index)"
          [primarySkillsValidity$]="primarySkillsValidity$"
        ></app-primary-skill-input>
        <div
          class="errorText"
          *ngIf="isPrimarySkillsTouched && primarySkills.length === 0"
        >
          Please add at least one primary skill
        </div>
        <!-- (onRemovePrimarySkill)="" -->
      </div>

      <!-- managers -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="managers"
            >Choose manager(s)
          </nz-form-label>
          <nz-form-control nzErrorTip="Please choose any manager from the list">
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="managers"
              id="managers"
            >
              <nz-option
                *ngFor="let manager of data?.managers"
                [nzValue]="manager.userId"
                [nzLabel]="manager.userName"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- recruiters -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="recruiters"
            >Choose recruiter(s)
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please choose any recruiter from the list"
          >
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="recruiters"
              id="recruiters"
            >
              <nz-option
                *ngFor="let recruiter of data?.recruiters"
                [nzValue]="recruiter.userId"
                [nzLabel]="recruiter.userName"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- interviewers -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="interviewers"
            >Choose interviewer(s)
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please choose any interviewer from the list"
          >
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="interviewers"
              id="interviewers"
            >
              <nz-option
                *ngFor="let interviewer of data?.interviewers"
                [nzValue]="interviewer.userId"
                [nzLabel]="interviewer.userName"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- mentors -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="mentors"
            >Choose mentor(s)
          </nz-form-label>
          <nz-form-control nzErrorTip="Please choose any mentor from the list">
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nzMode="multiple"
              nz-input
              formControlName="mentors"
              id="mentors"
            >
              <nz-option
                *ngFor="let mentor of data?.mentors"
                [nzValue]="mentor.userId"
                [nzLabel]="mentor.userName"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- dates -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="dates"
            >Choose start and end date
          </nz-form-label>
          <nz-form-control nzErrorTip="Please enter dates">
            <nz-range-picker
              formControlName="dates"
              id="dates"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- candidates' max count -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="plannedCandidatesCount"
            >Max. candidates count
          </nz-form-label>
          <nz-form-control
            nzErrorTip="Please enter planned number of candidated"
          >
            <input
              type="number"
              nz-input
              formControlName="plannedCandidatesCount"
              id="plannedCandidatesCount"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- description -->
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzFor="description">Description</nz-form-label>
          <nz-form-control [nzErrorTip]="descriptionError">
            <nz-textarea-count [nzMaxCharacterCount]="500">
              <textarea
                placeholder="You can write some description here"
                nz-input
                formControlName="description"
                id="description"
                rows="4"
                nzAutosize
              ></textarea>
            </nz-textarea-count>
            <ng-template #descriptionError let-control>
              <ng-container *ngIf="control.hasError('maxlength')">
                max. length is 500 characters
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <button nz-button nzType="primary" nzBlock (click)="submitForm()">
        Create
      </button>
    </form>
  </ng-container>
</nz-drawer>
