<nz-table
  [nzLoading]="isLoading"
  #nzTable
  [nzData]="candidatesList"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th
        nzWidth="40px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th
        [nzSortFn]="sortAlphabetically"
        [nzSortDirections]="['ascend', 'descend', null]"
      >
        Name
      </th>
      <th
        [nzSortFn]="sortAlphabetically"
        [nzSortDirections]="['ascend', 'descend', null]"
      >
        Primary skill
      </th>
      <th
        [nzSortFn]="sortAlphabetically"
        [nzSortDirections]="['ascend', 'descend', null]"
      >
        Status
      </th>
      <th nzWidth="90px" nzSortOrder="null">Test</th>
      <th nzSortOrder="null">Recruter</th>
      <th nzSortOrder="null">Entry Interview</th>
      <th nzSortOrder="null">Mentor</th>
      <th nzSortOrder="null">Finish Interview</th>
      <th nzWidth="60px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of nzTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(candidate.id)"
        (nzCheckedChange)="onItemChecked(candidate.id, $event)"
      ></td>
      <td>{{ candidate.name }} {{ candidate.surname }}</td>
      <td>
        <p *ngFor="let skill of candidate.primarySkills">
          {{ skill.name }}
        </p>
      </td>
      <td>
        {{
          candidate.projectResults[0]
            ? candidateStatuses[candidate.projectResults[0].status]
            : "none"
        }}
      </td>
      <td>
        {{ getFeedbackRate(candidate, "Test") }}
      </td>
      <td>
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'Interview')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td>
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'TechInterviewOneStep')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td>
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'Mentor')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td>
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'TechInterviewSecondStep')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>

      <td>
        <button
          class="profile-btn"
          [routerLink]="['/' + paths.profile, candidate.id, currentProjectId]"
        ></button>
      </td>
    </tr>
  </tbody>
</nz-table>
