<div class="page_container candidate-wrapp">
  <div class="close-btn"></div>
  <div class="candidate-info">
    <div>
      <p class="candidate-name">Bart Simpson</p>
      <p>Minsk</p>
      <p>Frontend</p>
    </div>
    <div>
      <p><span>Date of application:</span> 01.01.2022</p>
      <p><span>Skype:</span> live:.cid.85260a69ffa7010a</p>
      <p><span>Email:</span> bart.simpson@mail.ru</p>
      <p><span>Phone number:</span> +375339999999</p>
      <p><span>English level:</span> Advanced</p>
      <p><span>Test result:</span> 100</p>
      <p><span>Status:</span> New</p>
    </div>
    <div>
      <span>Previous projects:</span>
      <p>Exadel SandBox September 2012</p>
      <p>Exadel SandBox September 2010</p>
    </div>
  </div>

  <div class="feedbacks">
    <div class="feedback">
      <div class="feedback_heading">
        <p>Recruter’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Interviewers’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Mentors’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
  </div>
</div>
