<div class="page_container candidate-card">
  <div class="goback-btn"></div>
  <div class="candidate-info">
    <div class="main-info">
      <div class="heading">
        <p class="name">Bart Simpson</p>
        <p class="stack">JS</p>
      </div>
      <p class="location">Minsk, Belarus</p>
      <p><span>Skype:</span> live:.cid.85260a69ffa7010a</p>
      <p><span>Email:</span> bart.simpson@mail.ru</p>
      <p><span>Phone number:</span> +375336908679</p>
      <p><span>English level:</span> Advanced</p>
      <p><span>Language:</span> Russian</p>
      <p><span>Test result:</span> 100</p>
      <p><span>Status:</span> New</p>
      <div>
        <span>Previous projects:</span>
        <p>Exadel SandBox September 2020</p>
      </div>
    </div>

    <div class="add-info">
      <p class="add-info_title">Additional information</p>
      <p><span>Date of application:</span> 02.02.2002</p>
      <p><span>Time to contact:</span> 13-17</p>
      <p>
        <span>Comments:</span> i want to eat big coockie every day in a morning!
      </p>
      <p><span>Questions:</span> can i have 50 days vacation?</p>
      <p><span>Current job:</span> president of RB</p>
      <p><span>Certificates:</span> Some Certificates</p>
      <p><span>Join Exadel:</span> Yes!</p>
    </div>
  </div>

  <div class="feedbacks">
    <div class="feedback">
      <div class="feedback_heading">
        <p>Recruter’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Interviewers’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Mentors’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
  </div>
</div>
