<div class="page_container candidate-card">
  <div class="goback-btn" (click)="goToCandidatesList()"></div>
  <div class="candidate-info">
    <div class="main-info">
      <div class="heading">
        <p class="name">{{ candidate.firstname }} {{ candidate.lastname }}</p>
        <p class="stack">{{ candidate.skill }}</p>
      </div>
      <p class="location">{{ candidate.city }}, {{ candidate.country }}</p>
      <p>
        <span>Skype:</span>
        <a href="skype:{{ candidate.skype }}?chat"> {{ candidate.skype }}</a>
      </p>
      <p>
        <span>Email:</span
        ><a href="mailto:{{ candidate.email }}"> {{ candidate.email }}</a>
      </p>
      <p>
        <span>Phone number:</span>
        <a href="tel:+{{ candidate.phone }}"> {{ candidate.phone }}</a>
      </p>
      <p><span>English level:</span> {{ candidate.englishLvl }}</p>
      <p><span>Language:</span> {{ candidate.language }}</p>
      <p><span>Test result:</span> {{ candidate.testResult }}</p>
      <p><span>Status:</span> {{ candidate.status }}</p>
      <div>
        <span>Previous projects:</span>
        <p>{{ candidate.projects ? candidate.projects : "none" }}</p>
      </div>
    </div>

    <div class="add-info">
      <p class="add-info_title">Additional information</p>
      <p><span>Date of application:</span>{{ candidate.applicationDate }}</p>
      <p><span>Time to contact:</span> {{ candidate.timeToContacts }}</p>
      <p>
        <span>Comments:</span>
        {{ candidate.comments ? candidate.comments : "none" }}
      </p>
      <p>
        <span>Questions:</span
        >{{ candidate.questions ? candidate.questions : "none" }}
      </p>
      <p>
        <span>Current job:</span>{{ candidate.job ? candidate.job : "none" }}
      </p>
      <p>
        <span>Certificates:</span
        >{{ candidate.certificates ? candidate.certificates : "none" }}
      </p>
      <p><span>Join Exadel:</span> {{ candidate.join }}</p>
    </div>
  </div>

  <div class="feedbacks">
    <div class="feedback">
      <div class="feedback_heading">
        <p>Recruter’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Interviewers’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
    <div class="feedback">
      <div class="feedback_heading">
        <p>Mentors’s Feedback:</p>
        <app-rating-stars [isDisabled]="false"></app-rating-stars>
      </div>
      <textarea nz-input placeholder="Enter your feedback"></textarea>
      <button nz-button nzSize="default" nzType="primary">Save</button>
    </div>
  </div>
</div>
