<nz-card
  class="project-card"
  [nzTitle]="titleTemplate"
  [nzExtra]="extraTemplate"
  [nzHoverable]="true"
>
  <div class="project-info">
    <div class="description">
      <p class='skills'>
        Primary skills:
        <span *ngFor="let item of card.primarySkills"> {{ item.name }}</span>
      </p>
      <p>Status: {{ card.isActive ? "Active" : "Closed" }}</p>
      <p>Start: {{ card.startDate | date }}</p>
      <p>Finish: {{ card.endDate | date }}</p>
    </div>
    <div class="project-buttons">
      <app-participants
        [registered]="card?.currentApplicationsCount!"
        [required]="card.plannedApplicationsCount"
        [routerLink]="['/projects', card.id]"
      ></app-participants>
      <button nz-button (click)="onEdit()" nzType="primary" class="edit-btn">
        Edit project
      </button>
    </div>
  </div>
</nz-card>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isVisible"
  nzPlacement="right"
  nzTitle="Project staff"
  (nzOnClose)="switchStaff()"
>
  <ng-container *nzDrawerContent>
    <nz-collapse nzGhost>
      <nz-collapse-panel [nzHeader]="'Managers'" nzActive="isVisible">
        <p *ngFor="let panel of card.managers">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Interviewers'" nzActive="isVisible">
        <p *ngFor="let panel of card.interviewers">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Recruiters'" nzActive="isVisible">
        <p *ngFor="let panel of card.recruiters">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Mentors'" nzActive="isVisible">
        <p *ngFor="let panel of card.mentors">{{ panel.userName }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</nz-drawer>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="switchStaff()">View Staff</button>
</ng-template>

<ng-template #titleTemplate>
  <p class="card-title">{{ card.name }}</p>
</ng-template>
