<nz-card
  class="project-card"
  nzTitle="{{ card.name }}"
  [nzExtra]="extraTemplate"
  [nzHoverable]="true"
>
  <div class="project-info">
    <div class="description">
      <p>
        Technologies:
        <span *ngFor="let item of card.primarySkills"> {{ item.name }}</span>
      </p>
      <p>Status: {{ card.isActive ? "Active" : "Closed" }}</p>
      <p>Start: {{ card.startDate }}</p>
      <p>Finish: {{ card.endDate }}</p>
    </div>
    <div class="project-buttons">
      <app-participants
        [registered]="card.currentApplicationsCount"
        [required]="card.plannedApplicationsCount"
        (click)="showCandidates()"
      ></app-participants>
      <button nz-button nzType="primary" class="edit-btn">Edit project</button>
    </div>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="openStaff()">View Staff</button>
</ng-template>

<nz-drawer
  class="staff"
  [nzClosable]="true"
  [nzVisible]="isVisible"
  nzPlacement="right"
  nzTitle="Project staff"
  (nzOnClose)="closeStaff()"
>
  <ng-container *nzDrawerContent>
    <nz-collapse nzGhost>
      <nz-collapse-panel [nzHeader]="'Managers'">
        <p *ngFor="let panel of card.managers">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Interviewers'">
        <p *ngFor="let panel of card.interviewers">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Recruiters'">
        <p *ngFor="let panel of card.recruiters">{{ panel.userName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Mentors'">
        <p *ngFor="let panel of card.mentors">{{ panel.userName }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</nz-drawer>
