<nz-card
  class="project-card"
  [nzTitle]="titleTemplate"
  [nzExtra]="extraTemplate"
  [nzHoverable]="true"
>
  <div class="project-info">
    <div class="description">
      <p>
        Primary skills:
        <span *ngFor="let item of card.PrimarySkills"> {{ item.Name }},</span>
      </p>
      <p>Status: {{ card.IsActive ? "Active" : "Closed" }}</p>
      <p>Start: {{ card.StartDate }}</p>
      <p>Finish: {{ card.EndDate }}</p>
    </div>
    <div class="project-buttons">
      <app-participants
        [registered]="card.CurrentApplicationsCount"
        [required]="card.PlannedApplicationsCount"
        (click)="showCandidates()"
      ></app-participants>
      <button nz-button nzType="primary" class="edit-btn">Edit project</button>
    </div>
  </div>
</nz-card>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isVisible"
  nzPlacement="right"
  nzTitle="Project staff"
  (nzOnClose)="switchStaff()"
>
  <ng-container *nzDrawerContent>
    <nz-collapse nzGhost >
      <nz-collapse-panel [nzHeader]="'Managers'" [nzActive]="true">
        <p *ngFor="let panel of card.Managers">{{ panel.UserName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Interviewers'" [nzActive]="true">
        <p *ngFor="let panel of card.Interviewers">{{ panel.UserName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Recruiters'" [nzActive]="true">
        <p *ngFor="let panel of card.Recruiters">{{ panel.UserName }}</p>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'Mentors'" [nzActive]="true">
        <p *ngFor="let panel of card.Mentors">{{ panel.UserName }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</nz-drawer>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="switchStaff()">View Staff</button>
</ng-template>

<ng-template #titleTemplate>
  <p class="card-title">{{ card.Name }}</p>
</ng-template>
