<div class="projects page_container">
  <div class="projects_head">
    <button nz-button nzType="primary" (click)="handleToggle(true)">
      Create Project
    </button>
    <div class="search">
      <div class="filter" (click)="switchFilter()">
        <img src="assets/images/Vector.png" alt="filter" />
      </div>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Search project" [(ngModel)]="searchText"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <app-projects-list [projects]="projects" [searchText]="searchText"></app-projects-list>
  <app-create-project
    (onToggle)="handleToggle($event)"
    [isVisible]="isVisible"
  ></app-create-project>
</div>

<nz-drawer
nzWidth=100
[nzClosable]="true"
[nzVisible]="filter"
nzPlacement="top"
nzTitle="Projects filters"
(nzOnClose)="switchFilter()"
>
<ng-container *nzDrawerContent nzWidth=100>
  <p>Filters...</p>
</ng-container>
</nz-drawer>
