<div class="projects page_container">
  <div class="projects_head">
    <button nz-button nzType="primary" (click)="handleToggle(true)">
      Create Project
    </button>
    <div class="statusFilter">
      <button nz-button nz-dropdown [nzDropdownMenu]="menu">
        Status
        <i nz-icon nzType="filter" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Active</li>
          <li nz-menu-item>Closed</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <app-projects-list [cards]="projects"></app-projects-list>
  <app-create-project
    (onToggle)="handleToggle($event)"
    [isVisible]="isVisible"
  ></app-create-project>
</div>
