.projects {
  &_head {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    .search {
      display: flex;
    }

    .filter {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
