<header>
  <div class="header">
    <div class="header-container">
      <div class="logo">
        <img src="/assets/images/RecruitifyLogo.png" alt="logo" />
      </div>
      <div class="menu">
        <div class="menu_user-info">
          <p class="menu_user-name">Igor Nikolaev</p>
          <p class="menu_user-role">mentor</p>
        </div>
        <div class="menu_nav">
          <div class="menu_icon menu_icon--projects"></div>
          <div class="menu_icon menu_icon--candidates"></div>
          <div class="menu_icon menu_icon--calendar"></div>
        </div>
      </div>
    </div>
  </div>
</header>
