.header {
  background: #ffffff;
  color: #0082ca;

  p {
    padding: 0;
    margin: 0;
  }

  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 20px;

    &_user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &_user-name {
      font-weight: 600;
    }

    &_user-role {
      font-size: 12px;
    }

    &_nav {
      display: flex;
      gap: 10px;
    }

    &_icon {
      width: 30px;
      height: 30px;
      cursor: pointer;

      &--projects {
        background: url(/assets/images/nav-icons/projects.svg) no-repeat center
          center;
        background-size: contain;
      }
      &--candidates {
        background: url(/assets/images/nav-icons/candidates.svg) no-repeat
          center center;
        background-size: contain;
      }
      &--calendar {
        background: url(/assets/images/nav-icons/calendar.svg) no-repeat center
          center;
        background-size: contain;
      }
    }
    &_icon.active {
      filter: brightness(150%);

    }
  }
}
