<header>
  <div class="header">
    <div class="header-container">
      <div class="logo">
        <a routerLink="/"><img src="/assets/images/RecruitifyLogo.png" alt="logo" /></a>

      </div>
      <div class="menu">
        <div class="menu_user-info">
          <p class="menu_user-name">Igor Nikolaev</p>
          <p class="menu_user-role">mentor</p>
        </div>
        <div class="menu_nav">
          <div class="menu_icon menu_icon--projects" [routerLink]="['/', 'projects']" routerLinkActive="active"></div>
          <div class="menu_icon menu_icon--candidates" [routerLink]="['/', 'candidates']" routerLinkActive="active"></div>
          <div class="menu_icon menu_icon--calendar" [routerLink]="['/', 'calendar']" routerLinkActive="active"></div>
        </div>
      </div>
    </div>
  </div>
</header>
