<div class="fill_form">
  <div class="fill_form_container">
    <h2>Hi! Please, fill out the form</h2>
    <form [formGroup]="candidateForm" nz-form>
      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="fname"
              >First Name</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="name"
                nz-input
                name="fname"
                type="text"
                id="fname"
                placeholder="Enter your First name"
              />
            </nz-form-control>
          </div>

          <div class="inner-item-box pad-left">
            <nz-form-label nzRequired nzNoColon nzFor="lname"
              >Last Name</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="surname"
                nz-input
                name="lname"
                type="text"
                id="lname"
                placeholder="Enter your Last name"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="skype"
              >Skype</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="skype"
                nz-input
                name="skype"
                type="text"
                id="skype"
                placeholder="Enter your Skype Login"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="email"
              >Email</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="email"
                nz-input
                name="email"
                type="text"
                id="email"
                placeholder="Enter your Email"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="phone"
              >Phone</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="phoneNumber"
                nz-input
                name="phone"
                type="text"
                id="phone"
                placeholder="Enter your Phone number"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <div class="item-box" formGroupName="location">
        <div class="inner-item-box">
          <nz-form-label nzRequired nzNoColon nzFor="location"
            >Location (City, Country)</nz-form-label
          >
          <nz-form-control>
            <input
              formControlName="city"
              nz-input
              name="location"
              type="text"
              id="location"
              placeholder="Enter your Country"
            />
          </nz-form-control>
        </div>

        <div class="inner-item-box pad-left">
          <nz-form-control>
            <input
              formControlName="country"
              nz-input
              name="location"
              type="text"
              id="location"
              placeholder="Enter your City"
            />
          </nz-form-control>
        </div>
      </div>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box pad-top">
            <nz-form-label nzNoColon nzRequired>English level</nz-form-label>
            <nz-select
              formControlName="englishLevel"
              nzAllowClear
              nzPlaceHolder="Choose your English level"
            >
              <nz-option
                *ngFor="let englishLevel of englishLevel$ | async | enumToArray"
                [nzValue]="+englishLevel[0]"
                [nzLabel]="englishLevel[1]"
              ></nz-option>
            </nz-select>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzNoColon nzRequired style="margin-bottom: 10px">
          Choose the language of Internship
        </nz-form-label>

        <nz-radio-group formControlName="projectLanguage">
          <label nz-radio [nzValue]="0">English</label>
          <label nz-radio [nzValue]="1">Russian</label>
        </nz-radio-group>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzRequired>Primary skill</nz-form-label>
            <nz-select
              formControlName="primarySkill"
              nzRequired
              nzAllowClear
              nzPlaceHolder="Primary skill"
              required
            >
              <nz-option
                *ngFor="let primarySkill of currentProjectSkills"
                [nzValue]="{ id: primarySkill.id, name: primarySkill.name }"
                [nzLabel]="primarySkill.name"
              ></nz-option>
            </nz-select>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzNoColon nzRequired style="margin-bottom: 10px">
          Are you planning to join Exadel after the Internship?
        </nz-form-label>

        <nz-radio-group formControlName="goingToExadel">
          <label nz-radio [nzValue]="true">Yes</label>
          <label nz-radio [nzValue]="false">No</label>
        </nz-radio-group>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzFor="comments">Comments</nz-form-label>
            <nz-form-control>
              <input
                formControlName="additionalInfo"
                nz-input
                name="comments"
                type="text"
                id="comments"
                placeholder="Enter your comments"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon>Do you have any questions?</nz-form-label>
            <nz-form-control>
              <input
                formControlName="additionalQuestions"
                nz-input
                name="questions"
                type="text"
                id="questions"
                placeholder="Enter your questions"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzFor="cjob">Current job</nz-form-label>
            <nz-form-control>
              <input
                formControlName="currentJob"
                nz-input
                name="cjob"
                type="text"
                id="cjob"
                placeholder="Enter your Current job"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon>Professional certificates</nz-form-label>
            <nz-form-control>
              <input
                formControlName="certificates"
                nz-input
                name="certificates"
                type="text"
                id="certificates"
                placeholder="What professional certificates do you have?"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item class="btn">
        <button nz-button (click)="submitForm()"><span>Submit</span></button>
        <!-- <nz-modal nzTitle="The first Modal" >
          <ng-container *nzModalContent>
          </ng-container>
        </nz-modal>
                   -->
      </nz-form-item>

      <!-- <modal-button></modal-button> -->
    </form>
  </div>
</div>
