@use "../../../globals" as *;

.fill_form {
  height: 100vh;
  &_container {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
  }

  form {
    padding-top: 10px;
  }

  h2 {
    color: $primaryColor;
    font-weight: 600;
    font-size: 18px;
  }

  input {
    border: none;
    border-bottom: 2px solid $primaryColor;
    background-color: $bgColor;
  }

  .item-box {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  .inner-item-box {
    width: 100%;
    margin: 0;
  }

  .ant-form-item-label {
    color: $primaryColor;
  }

  .pad-left {
    padding-left: 10px;
    width: 100%;
  }

  .mar-top {
    margin-top: 15px;
  }

  .pad-top {
    padding-top: 20px;
  }

  nz-form-control {
    width: 100%;
  }

  nz-select {
    padding: 10px 0;
  }

  .color {
    color: $primaryColor;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }

  button {
    background: $primaryColor;
    color: white;
  }
}
