@use "../../../globals" as *;

.fill_form {
  padding: 40px 0;

  &_container {
    width: 450px;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 20px;
    color: $primaryColor;
    font-weight: 500;
    font-size: 18px;
  }

  nz-form-label {
    font-weight: 500;
  }

  .item-box {
    width: 100%;
    display: flex;
    gap: 20px;
  }

  .inner-item-box {
    width: 100%;
  }

  .ant-form-item-label {
    color: $primaryColor;
  }

  nz-form-control {
    width: 100%;
  }

  .color {
    color: $primaryColor;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }

  button {
    background: $primaryColor;
    color: white;
  }
}
