<!-- *ngIf="isRecruiter || isManager" -->
<div class="menu">
  <!-- *ngIf="isRecruiter" -->
  <div class="menu_email">
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      (click)="printEmailModal()"
    >
      Send test task
    </button>
  </div>
  <!-- *ngIf="isRecruiter" -->
  <div class="menu_test">
    <button nz-button nzSize="small" nzType="primary">Set test result</button>
    <input nz-input nzSize="small" class="menu_test-input" />
  </div>

  <div class="menu_status">
    <nz-select
      *ngIf="isRecruiter; else selectForManager"
      nzSize="small"
      class="menu_status-select"
      id="status"
      nzPlaceHolder="Set status"
    >
      <nz-option
        *ngFor="let status of candidateStatuses"
        nzValue="{{ status }}"
        nzLabel="{{ status }}"
      ></nz-option>
    </nz-select>

    <ng-template #selectForManager>
      <!-- *ngIf="isManager" -->
      <nz-select
        nzSize="small"
        class="menu_status-select"
        id="status"
        nzPlaceHolder="Set status"
        [(ngModel)]="selectedStatus"
        (ngModelChange)="setReasonSelectVisibility($event)"
      >
        <nz-option
          *ngFor="let status of candidateStatusesForManager"
          nzValue="{{ status }}"
          nzLabel="{{ status }}"
        ></nz-option>
      </nz-select>
      <!-- *ngIf="isManager && isReasonSelectVisible" -->
      <nz-select
        class="menu_status-select"
        id="reason"
        nzPlaceHolder="Set reason"
        nzSize="small"
        *ngIf="isReasonSelectVisible"
        [(ngModel)]="selectedReason"
      >
        <nz-option
          *ngFor="let reason of declineReasons"
          nzValue="{{ reason }}"
          nzLabel="{{ reason }}"
        ></nz-option>
      </nz-select>
    </ng-template>

    <button
      nzSize="small"
      nz-button
      class="menu_status-btn"
      nzType="primary"
      (click)="submitStatus()"
    >
      Submit status
    </button>
  </div>
</div>

<app-send-email-modal></app-send-email-modal>
