.calendar_time-grid-line {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1px;
}

.weekend {
  width: 100%;
  height: 100%;
  background-color: #faecc0;
}
