<nz-tabset nzType="card" nzSize="small">
  <nz-tab nzTitle="My timetable">
    <div class="tab_wrap">
      <app-time-line></app-time-line>
      <app-interviewers-drop-table
        [displayedInterviewers]="displayedRecruiter"
      ></app-interviewers-drop-table>
      <app-candidates-grid
        [displayedCandidates]="displayedCandidatesForRecruiter"
      ></app-candidates-grid>
    </div>
  </nz-tab>
  <nz-tab
    *ngFor="let skill of getTabNames()"
    nzTitle="{{ skill }}"
    (nzClick)="getCandidatesAndInterviewersByTabName(skill)"
  >
    <div class="tab_wrap">
      <app-time-line></app-time-line>
      <app-interviewers-drop-table
        [displayedInterviewers]="displayedInterviewers"
      ></app-interviewers-drop-table>
      <app-candidates-grid
        [displayedCandidates]="displayedCandidates"
      ></app-candidates-grid>
    </div>
  </nz-tab>
</nz-tabset>
