<div class="heading">
  <button nz-button nzSize="small" nzType="primary">Save</button>
  <div class="week-btns">
    <a nz-button nzType="link" (click)="onPreviousBtnClick()"
      ><<< Previous week</a
    >
    <a nz-button nzType="link" (click)="onNextBtnClick()">Nest week >>></a>
  </div>
</div>

<app-time-line></app-time-line>

<div class="calendar">
  <div class="calendar_interviewers">Aleksey Yanul</div>
  <div class="calendar_weekdays">
    <div
      class="calendar_weekday"
      *ngFor="let day of displayedWeekDays"
      appCalendarItem
      [day]="day.getDay()"
    >
      {{ day | date: "MMM, d" }}
      {{ day | date: "ccc" }}
    </div>
  </div>
  <div class="calendar_time-grid" appCalendarItem>
    <app-time-grid-row
      *ngFor="let day of displayedWeekDays"
    ></app-time-grid-row>
  </div>
</div>

<div class="prompt">
  <div class="prompt_img"></div>
  <div class="prompt_text">
    <div class="prompt_text-item">
      LMB - if you can interview a candidate at this time
    </div>
    <div class="prompt_text-item">RMB - cancel your choise</div>
  </div>
</div>
