<div
  class="candidates"
  dragula="calendar"
  [(dragulaModel)]="displayedCandidates"
>
  <div
    class="candidate"
    *ngFor="let candidate of displayedCandidates"
    id="{{ candidate.id }}"
  >
    <div class="candidate_skill">
      {{ candidate.projectResult.primarySkill.name }}
    </div>
    <!-- <div class="candidate_skill">{{ candidate.skill }}</div> -->
    <p>{{ candidate.name }} {{ candidate.surname }}</p>
    <p>
      {{ candidate.bestTimeToConnect.join(", ") }}
    </p>
  </div>
</div>
