p {
  margin: 0;
}

.candidates_grid {
  height: 47%;
  width: 100%;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  align-content: start;
  border: 1px solid #0082ca;
  overflow-y: auto;
}

.candidates_item {
  position: relative;
  padding: 3px 0;
  // height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0082ca;
  color: white;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  cursor: move;
}

.skill {
  position: absolute;
  top: 0px;
  left: 2px;
}
