<div class="internships">
  <div class="container">
    <div class="card" *ngFor="let card of cardCount">
      <h3 class="card_title">JavaScript, .NET, BA internship</h3>
      <p class="card_info">👥 How to enter: pass the interview</p>
      <p class="card_info">⏰ Duration: 2 months</p>
      <p class="card_info">📆 Start: October 11, 2021</p>
      <p class="card_info">📋 Registration: until September 24, 2021</p>
      <p class="card_info">💻 Format: online</p>
      <p class="card_info">💬 Language: Russian or English</p>
      <p class="card_info">
        🌎 Locations: Georgia, Uzbekistan, Poland, Lithuania, Belarus, Russia.
      </p>

      <nz-collapse nzGhost>
        <nz-collapse-panel
          *ngFor="let skill of skills"
          [nzHeader]="skill.name"
          [nzActive]="skill.active"
          [nzDisabled]="skill.disabled"
        >
          <div style="color: #ffffff">
            <p *ngFor="let item of skill.description.split(';')">{{ item }}</p>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <button class="card_btn" nz-button nzType="primary">
        Send a request
      </button>
    </div>
  </div>
</div>
