<div
  (click)="
    onItemClick(
      timetableTime.candidate[0],
      timetableTime.time,
      currentInterviewer.id
    )
  "
  nz-popover
  [nzPopoverTrigger]="setPopTrigger(timetableTime.candidate[0])"
  [nzPopoverTitle]="popTitle"
  [nzPopoverContent]="popBody"
  nzPopoverPlacement="left"
  [(nzPopoverVisible)]="isPopVisible"
  [ngClass]="{
    markedByInterviewer: timetableTime.isAvaliable,
    avaliableToDrop: setIsAvaliableToDrop(
      timetableTime.time,
      dragedCandidate.bestTimeToConnect
    ),
    assigned: timetableTime.candidate[0]
  }"
  [dragula]="setDragulaValue(timetableTime.candidate)"
  [(dragulaModel)]="timetableTime.candidate"
></div>

<ng-template #popTitle>
  <div class="pop-title">
    <p>{{ datePickerValue | date: "EE, dd.MM" }}</p>
    <p>{{ assignedCandidate.assignedDate | date: "HH:mm" }}</p>
  </div>
</ng-template>

<ng-template #popBody>
  <div class="pop-body">
    <p class="pop-body_name">
      <a
        nz-button
        nzType="link"
        style="font-size: 12px; margin: 0; padding: 0; margin-right: 10px"
        [routerLink]="[
          '/' + 'profile',
          'd66d9d10-3775-11ec-9f7d-f7d443b3f4f3',
          'dd49fe8f-d697-41a5-be23-7066563b85a6'
        ]"
        >{{ assignedCandidate.name }} {{ assignedCandidate.surname }}</a
      >
      {{ assignedCandidate.skill }}
    </p>
    <p>Project: {{ assignedCandidate.project }}</p>
    <p>Status: New</p>
    <p>E-mail: {{ assignedCandidate.email }}</p>
    <p>Skype: {{ assignedCandidate.skype }}</p>
    <button
      *ngIf="assignedCandidatesToSendEmail.length"
      nz-button
      nzType="primary"
      nzSize="small"
      (click)="onRemoveBtnClick(assignedCandidate)"
    >
      Remove
    </button>
  </div>
</ng-template>
