<div class="container">
  <div class="header">
    <div class="candidatesCount">{{ listOfData.length }}</div>
    <h3>October 2021 JS, .NET, BA</h3>
  </div>

  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="45px"><input type="checkbox" /></th>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th
          [nzFilterMultiple]="true"
          [nzFilters]="listOfFilter"
          [nzFilterFn]="filterFn"
        >
          Location
        </th>
        <th>Skill</th>
        <th>Status</th>
        <th nzWidth="145px">Recruter's feedback</th>
        <th nzWidth="145px">Interviewer's feedback</th>
        <th nzWidth="105px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td><input type="checkbox" /></td>
        <td>{{ data.name }}</td>
        <td>{{ data.location }}</td>
        <td>{{ data.skill }}</td>
        <td>{{ data.status }}</td>
        <td><app-rating-stars></app-rating-stars></td>
        <td><app-rating-stars></app-rating-stars></td>
        <td>
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            style="font-size: 12px"
          >
            view profile
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
