<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzHeight]="205"
  nzPlacement="top"
  nzTitle="Candidates filter"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <div class="drawer-container">
      <div class="drawer-inputs">
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <!-- [(ngModel)]="tagValue" -->
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Location"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Date"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="English level"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Skill"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Status"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Test"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Recruiter"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Interview 1"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Mentor"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="drawer-item">
          <nz-form-control>
            <nz-select
              nzSize="small"
              nzMode="tags"
              [nzMaxTagCount]="2"
              [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
              nzPlaceHolder="Interview 2"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="drawer-btns">
        <button nz-button nzType="primary" nzSize="small" *ngIf="isAdmin">
          Create a report
        </button>
        <button nz-button nzType="default" nzSize="small">Show results</button>
        <button nz-button nzType="default" nzSize="small">Clear filters</button>
      </div>
    </div>
  </ng-container>
  <ng-template #nzMaxTagPlaceholder let-selectedList
    >+{{ selectedList.length }}
  </ng-template>
</nz-drawer>
