<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzHeight]="250"
  nzPlacement="top"
  nzTitle="Candidates filter"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <div class="drawer-container">
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Skill</nz-form-label>
        <nz-form-control>
          <nz-select id="primarySkill">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option nzValue="skills" nzLabel="skills"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Status</nz-form-label>
        <nz-form-control>
          <nz-select id="status">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option nzValue="status" nzLabel="status"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Location</nz-form-label>
        <nz-form-control>
          <nz-select id="location">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option nzValue="locations" nzLabel="locations"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Test</nz-form-label>
        <nz-form-control>
          <nz-select id="testResult">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option nzValue="testResult" nzLabel="testResult"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Recruiter</nz-form-label>
        <nz-form-control>
          <nz-select id="recrFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="recrFeedback"
              nzLabel="recrFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Interview 1</nz-form-label>
        <nz-form-control>
          <nz-select id="intervFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="intervFeedback"
              nzLabel="intervFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Mentor</nz-form-label>
        <nz-form-control>
          <nz-select id="intervFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="intervFeedback"
              nzLabel="intervFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Interview 2</nz-form-label>
        <nz-form-control>
          <nz-select id="intervFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="intervFeedback"
              nzLabel="intervFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">English level</nz-form-label>
        <nz-form-control>
          <nz-select id="intervFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="intervFeedback"
              nzLabel="intervFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="drawer-item">
        <nz-form-label nzFor="">Date</nz-form-label>
        <nz-form-control>
          <nz-select id="intervFeedback">
            <nz-option nzValue="some" nzLabel="some"></nz-option>
            <nz-option
              nzValue="intervFeedback"
              nzLabel="intervFeedback"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="drawer-btns">
      <button nz-button nzType="default">Create a report</button>
      <button nz-button nzType="primary">Show results</button>
      <button nz-button nzType="primary">Clear filters</button>
    </div>
  </ng-container>
</nz-drawer>
