nz-card {
  box-shadow: 10px 5px 5px rgb(167, 164, 164);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 15px 10px 10px rgb(167, 164, 164);
  }

  .info {
    display: flex;
  }
  .sandbox-info {
    color: #0082ca;
  }
  app-participants {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  nz-tabset {
    padding-bottom: 5px;
  }

  a {
    text-align: center;
  }
}
