nz-card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.005);
  }

  .info {
    display: flex;
  }
  .sandbox-info {
    color: #0082ca;
  }
  app-participants {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  nz-tabset {
    padding-bottom: 5px;
  }

  a {
    text-align: center;
  }
}
