<div class="calendar_table-wrapp">
  <div class="calendar_table">
    <div class="calendar_raw">
      <div>Alexey Yanul</div>
      <div>
        <app-time-grid-row></app-time-grid-row>
      </div>
    </div>
    <div class="calendar_raw">
      <div>Alexey Yanul</div>
      <div>
        <app-time-grid-row></app-time-grid-row>
      </div>
    </div>
    <div class="calendar_raw">
      <div>Alexey Yanul</div>
      <div>
        <app-time-grid-row></app-time-grid-row>
      </div>
    </div>
    <div class="calendar_raw">
      <div>Alexey Yanul</div>
      <div>
        <app-time-grid-row></app-time-grid-row>
      </div>
    </div>
  </div>
</div>

<app-candidates-grid></app-candidates-grid>
