<div class="heading">
  <nz-date-picker
    nzSize="small"
    nzFormat="dd.MM.yyyy"
    [nzPlaceHolder]="today"
  ></nz-date-picker>
  <a nz-button nzType="link">Next day >>></a>
</div>

<app-time-line></app-time-line>

<div class="calendar_table-wrapp">
  <div class="calendar_row" *ngFor="let interviewer of interviewersTimeTable">
    <div
      class="calendar_staff"
      [ngClass]="{
        avaliableInterviewer: interviewer.skill === dragedCandidateSkill
      }"
    >
      {{ interviewer.name }}, {{ interviewer.skill }}
    </div>
    <div class="time-grid">
      <div
        class="time-grid_item"
        *ngFor="let time of interviewer.calendar[0].timetable"
      >
        <div
          *ngIf="time.isAvaliable"
          [ngClass]="{
            markedByInterviewer: time.isAvaliable,
            avaliableToDrop:
              interviewer.skill === dragedCandidateSkill &&
              dragedCandidateTime.includes(time.time) &&
              !time.isAsigned
          }"
          [dragula]="
            checkIsAvaliableToDrop(
              interviewer.skill,
              dragedCandidateSkill,
              time.time,
              dragedCandidateTime
            )
          "
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- <app-candidates-grid></app-candidates-grid> -->

<div class="candidates_grid" dragula="calendar">
  <div
    class="candidates_item"
    *ngFor="let candidate of candidatesWithTimeToContact"
    id="{{ candidate.id }}"
  >
    <div class="skill">{{ candidate.skill }}</div>
    <p>{{ candidate.name }} {{ candidate.surname }}</p>
    <p>
      {{ candidate.bestTimeToConnect.join(", ") }}
    </p>
  </div>
</div>
