<div class="heading">
  <nz-date-picker
    nzSize="small"
    nzFormat="dd.MM.yyyy"
    [nzPlaceHolder]="today"
  ></nz-date-picker>
  <a nz-button nzType="link">Next day >>></a>
</div>

<app-time-line></app-time-line>

<div class="calendar_table-wrapp">
  <div class="calendar_row" *ngFor="let interviewer of interviewersTimeTable">
    <div class="calendar_staff">
      {{ interviewer.name }}, {{ interviewer.skill }}
    </div>
    <div class="time-grid">
      <div
        class="time-grid_item"
        *ngFor="let time of interviewer.calendar[0].timetable"
      >
        <div
          *ngIf="time.isAvaliable"
          class="avaliable"
          dragula="calendar"
        ></div>
      </div>
    </div>
  </div>
</div>

<app-candidates-grid></app-candidates-grid>
