<div class="timetable">
  <div class="calendar_row" *ngFor="let interviewer of displayedInterviewers">
    <div
      class="calendar_staff"
      [ngClass]="{
        avaliableInterviewer: interviewer.skill === dragedCandidateSkill
      }"
    >
      {{ interviewer.name }}, {{ interviewer.skill }}
    </div>
    <div class="time-grid" *ngIf="isWeekDay; else weekendRow">
      <div
        class="time-grid_item"
        *ngFor="let time of interviewer.calendar[0].timetable"
      >
        <div
          [ngClass]="{
            markedByInterviewer: time.isAvaliable,
            avaliableToDrop:
              checkIsAvaliableToDrop(
                interviewer.skill,
                dragedCandidateSkill,
                time.time,
                dragedCandidateTime
              ) && !time.isAsigned
          }"
          [dragula]="
            setDragulaValue(
              interviewer.skill,
              dragedCandidateSkill,
              time.time,
              dragedCandidateTime
            )
          "
        ></div>
      </div>
    </div>
  </div>
</div>

<ng-template #weekendRow>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    🥳 no interview for today! 🥳
  </div>
</ng-template>
