<div class="timetable">
  <div class="timetable_row" *ngFor="let interviewer of displayedInterviewers">
    <div class="timetable_staff">
      {{ interviewer.name }}, {{ interviewer.skill }}
    </div>
    <div class="timetable_grid" *ngIf="isWeekDay; else weekendRow">
      <div
        class="timetable_grid-item"
        *ngFor="let time of interviewer.calendar[0].timetable"
      >
        <div
          (click)="log(time.candidate.length > 0)"
          [ngClass]="{
            markedByInterviewer: time.isAvaliable,
            avaliableToDrop: checkIsAvaliableToDrop(
              interviewer.skill,
              dragedCandidateSkill,
              time.time,
              dragedCandidateTime
            )
          }"
          [dragula]="
            setDragulaValue(
              interviewer.skill,
              dragedCandidateSkill,
              time.time,
              dragedCandidateTime,
              time.candidate.length
            )
          "
          [(dragulaModel)]="time.candidate"
        ></div>
      </div>
    </div>
  </div>
</div>

<ng-template #weekendRow>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    🥳 no interview for today! 🥳
  </div>
</ng-template>
