<div class="timetable">
  <div class="timetable_row" *ngFor="let interviewer of displayedInterviewers">
    <div class="timetable_staff">
      {{ interviewer.name }}, {{ interviewer.skill }}
    </div>
    <div class="timetable_grid" *ngIf="isWeekDay; else weekendRow">
      <div
        class="timetable_grid-item"
        *ngFor="let time of interviewer.calendar[0].timetable"
      >
        <div
          (click)="onItemClick(time.candidate[0])"
          nz-popover
          [nzPopoverTrigger]="setPopTrigger(time.candidate[0])"
          [nzPopoverTitle]="popTitle"
          [nzPopoverContent]="popBody"
          nzPopoverPlacement="left"
          [ngClass]="{
            markedByInterviewer: time.isAvaliable,
            avaliableToDrop: checkIsAvaliableToDrop(
              interviewer.skill,
              dragedCandidateSkill,
              time.time,
              dragedCandidateTime
            )
          }"
          [dragula]="
            setDragulaValue(
              interviewer.skill,
              dragedCandidateSkill,
              time.candidate.length
            )
          "
          [(dragulaModel)]="time.candidate"
        ></div>
      </div>
    </div>
  </div>
</div>

<ng-template #weekendRow>
  <div class="weekend-row">🥳 no interview for today! 🥳</div>
</ng-template>

<app-assigned-modal></app-assigned-modal>

<ng-template #popTitle>
  <div class="pop-title">
    <p>Mon, 22.11</p>
    <p>9:30</p>
  </div>
</ng-template>

<ng-template #popBody>
  <div class="pop-body">
    <p class="pop-body_name">
      {{ assignedCandidate.name }} {{ assignedCandidate.surname }},
      {{ assignedCandidate.skill }}
    </p>
    <p>Status: New</p>
    <p>E-mail: {{ assignedCandidate.email }}</p>
    <p>Skype: {{ assignedCandidate.skype }}</p>
    <!-- <button nz-button nzType="primary" nzSize="small">Remove</button> -->
  </div>
</ng-template>
