@use "../../../../globals" as *;

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.header {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primaryColor;

  .candidatesCount {
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background: url(../../../../assets/images/Group.png) no-repeat center left;
    background-size: contain;
  }

  h3 {
    margin: 0;
    font-size: 18px;
    color: $primaryColor;
    font-weight: 600;
  }
}

th {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  border-top: 1px solid $primaryColor;
  border-bottom: 1px solid $primaryColor !important;
}

td {
  font-size: 15px;
  color: $primaryColor;
  font-weight: 400;
}
