<div class="page_container candidates_container">
  <div class="candidates_heading">
    <div class="candidates_count">{{ candidatesList.length }}</div>
    <h3 class="candidates_title">All Candidates</h3>
    <div class="candidates_filter-wrap">
      <input
        nz-input
        placeholder="candidate's name"
        [(ngModel)]="searchValue"
        (input)="searchName()"
      />
      <div class="candidates_filter-btn" (click)="openDrawer()"></div>
    </div>
  </div>
  <app-dropdown-menu *ngIf="menuVisible"></app-dropdown-menu>
  <app-candidates-table
    [candidatesList]="candidatesList"
  ></app-candidates-table>

  <app-filter-drawer [drawerVisible]="drawerVisible"></app-filter-drawer>
</div>
