<div class="page_container candidates_container">
  <div class="candidates_heading">
    <div class="candidates_count">{{ candidatesList.length }}</div>
    <h3 class="candidates_title">October 2021 JS, .NET, BA</h3>
    <div class="candidates_filter-wrap">
      <input
        nz-input
        placeholder="candidate's name"
        [(ngModel)]="searchValue"
        (input)="searchName()"
      />
      <div class="candidates_filter-btn" (click)="openDrawer()"></div>
    </div>
  </div>

  <app-dropdown-menu *ngIf="menuVisible"></app-dropdown-menu>

  <nz-table #nzTable [nzData]="candidatesList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          nzWidth="40px"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th
          [nzSortFn]="sortAlphabetically"
          [nzSortDirections]="['ascend', 'descend', null]"
        >
          Name
        </th>
        <th
          [nzSortFn]="sortAlphabetically"
          [nzSortDirections]="['ascend', 'descend', null]"
        >
          Location
        </th>
        <th nzSortOrder="null">Primary skill</th>
        <th nzSortOrder="null">Status</th>
        <th nzSortOrder="null">Recruter's feedback</th>
        <th nzSortOrder="null">Interviewer's feedback</th>
        <th nzWidth="100px" nzSortOrder="null">Test result</th>
        <th nzWidth="120px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of nzTable.data">
        <td
          [nzChecked]="setOfCheckedId.has(candidate.id)"
          (nzCheckedChange)="onItemChecked(candidate.id, $event)"
        ></td>
        <td>{{ candidate.name }} {{ candidate.surname }}</td>
        <td>{{ candidate.location.city }}, {{ candidate.location.country }}</td>
        <td>
          <p *ngFor="let skill of candidate.primarySkills">
            {{ skill.primarySkillName }}
          </p>
        </td>
        <td>{{ candidateStatuses[candidate.projectResults[0].status] }}</td>
        <td>
          <app-rating-stars
            [rate]="candidate.projectResults[0].feedbacks[0].rating"
            [isDisabled]="true"
          ></app-rating-stars>
        </td>
        <td>
          <app-rating-stars
            [rate]="candidate.projectResults[0].feedbacks[0].rating"
            [isDisabled]="true"
          ></app-rating-stars>
        </td>
        <td>7</td>
        <td>
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            style="font-size: 12px"
            [routerLink]="['/profile', candidate.id]"
          >
            view profile
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <app-filter-drawer [drawerVisible]="drawerVisible"></app-filter-drawer>
</div>
