<div class="page_container">
  <div class="header">
    <div class="candidatesCount">{{ candidatesList.length }}</div>
    <h3>October 2021 JS, .NET, BA</h3>
  </div>

  <nz-table #nzTable [nzData]="candidatesList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          nzWidth="45px"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th
          [nzFilterMultiple]="true"
          [nzFilters]="listOfFilterLocation"
          [nzFilterFn]="filterFnLocation"
        >
          Location
        </th>
        <th
          [nzFilterMultiple]="true"
          [nzFilters]="listOfFilterSkill"
          [nzFilterFn]="filterFnSkill"
        >
          Primary skill
        </th>
        <th
          [nzFilterMultiple]="true"
          [nzFilters]="listOfFilterStatus"
          [nzFilterFn]="filterFnStatus"
        >
          Status
        </th>
        <th nzWidth="145px" nzSortOrder="null">Recruter's feedback</th>
        <th nzWidth="145px" nzSortOrder="null">Interviewer's feedback</th>
        <th nzWidth="110px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of nzTable.data">
        <td
          [nzChecked]="setOfCheckedId.has(candidate.id)"
          (nzCheckedChange)="onItemChecked(candidate.id, $event)"
        ></td>
        <td>{{ candidate.firstname }} {{ candidate.lastname }}</td>
        <td>{{ candidate.city }}, {{ candidate.country }}</td>
        <td>{{ candidate.skill }}</td>
        <td>{{ candidate.status }}</td>
        <td>
          <app-rating-stars
            [rate]="candidate.feedback1"
            [isDisabled]="true"
          ></app-rating-stars>
        </td>
        <td>
          <app-rating-stars
            [rate]="candidate.feedback2"
            [isDisabled]="true"
          ></app-rating-stars>
        </td>
        <td>
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            style="font-size: 12px"
            [routerLink]="['/profile', candidate.id]"
          >
            view profile
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
